@mixin flex-mother(
  $flex-direction: row,
  $justify-content: stretch,
  $align-items: stretch,
  $flex-wrap: nowrap
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

@mixin contact-input() {
  position: relative;
  width: 220px;
  height: 2.4rem;
  margin: 0 0 30px 0;
  background-color: #fff;
  input,
  textarea {
    width: 100%;
    height: 100%;
    line-height: 100%;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    font-size: 1.4rem;
    background-color: transparent;
    resize: none;
    z-index: 20;
    &:focus {
      outline: none;
      box-shadow: 0 0 1px 1px royalblue;
    }
  }
  label {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translate(0, -50%);
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.2s;
    z-index: 1;
  }
  input:hover + label,
  input:focus + label,
  textarea:hover + label,
  textarea:focus + label {
    top: 0;
    transform: translate(0, -100%);
    font-size: 0.8rem;
  }
  &:last-of-type {
    height: 180px;
    // margin-bottom: 20px;
    label {
      position: absolute;
      top: 0%;
      left: 2px;
      transform: translate(0, 0);
    }
  }
  .active {
    top: 0;
    transform: translate(0, -100%);
    font-size: 0.8rem;
  }
}
