@mixin flex-mother(
  $flex-direction: row,
  $justify-content: stretch,
  $align-items: stretch,
  $flex-wrap: nowrap
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

@mixin contact-input() {
  position: relative;
  width: 220px;
  height: 2.4rem;
  margin: 0 0 30px 0;
  background-color: #fff;
  input,
  textarea {
    width: 100%;
    height: 100%;
    line-height: 100%;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    font-size: 1rem;
    font-family: monospace;
    font-weight: normal;
    background-color: transparent;
    resize: none;
    &:focus {
      outline: none;
      box-shadow: 0 0 1px 1px royalblue;
    }
  }
  label {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translate(0, -50%);
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.2s;
  }
  input:hover + label,
  input:focus + label,
  textarea:hover + label,
  textarea:focus + label{
    top: 0;
    transform: translate(0, -100%);
    font-size: 0.8rem;
  }
  &:last-of-type {
    height: 180px;
    label {
      position: absolute;
      top: 0%;
      left: 2px;
      transform: translate(0, 0);
    }
  }
}

@mixin decoration-element($top:0, $left:76%){
  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: $top;
    left: $left;
    width: 30px;
    height: 100%;
    clip-path: polygon(20% 0, 100% 0%, 75% 100%, 0% 100%);
    background-color: rgba(255, 255, 0, 0.7);
    z-index: -1;
  }
  &::before {
    left: calc(#{$left} + 30px);
    background-color: rgba(65, 105, 225, 0.7);
  }
}

@mixin decoration-title($top1:10%, $left1:88%,$color1:rgba(65, 105, 225, 0.55),$top2:-10%, $left2:-5%, $color2:rgba(255, 255, 0, 0.55)){
  @include flex-mother(row,center,center);
  height: 90px;
  h2{
    position: relative;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #555;
    &::after, &::before{
      content:"";
      display: block;
      position: absolute;
      top:$top1;
      left:$left1;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background-color: $color1;
      z-index: -2;
    }
    &::before{
      top:$top2;
      left:$left2;
      width: 20px;
      height: 20px;
      background-color: $color2;
    }
  }
}
