@import "./Variables";
@import "./Mixins";

.contact{
  min-height: calc(100vh - #{$header640} - #{$footer640});
  h1{
    margin: 20px 10px;
    text-align: center;
    font-size: 1.6rem;
  }
  form{
    div{
      label{
      }
      input{}
    }
  }
}