@import "./Variables";
@import "./Mixins";

.contact {
  @include flex-mother(column, flex-start, center);
  min-height: calc(100vh - #{$header640} - #{$footer640});
  h1 {
    padding: 20px 10px;
    text-align: center;
    font-size: 1.6rem;
  }
  form {
    div {
      @include contact-input();
      label {
      }
      input {
      }
    }
  }
}
