@import "./Variables";
@import "./Mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $mainColor;
}

.tl-edges {
  min-height: calc(100vh - #{$header640} - #{$footer640});
  margin-top: $header640;
}
