@import "./Variables";
@import "./Mixins";

@keyframes link-list-opa {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.header {
  @include flex-mother(row, space-between, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header640;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  background-color: $mainColor;
  z-index: 100;
}

.bars {
  padding: 0.5rem;
  margin: 0 1rem;
  border: none;
  font-size: 1.6rem;
  background-color: transparent;
  color: $secondColor;
  cursor: pointer;
  z-index: 20;
  transition: 0.3s;
}

.bars-active {
  color: $fontColorSecond;
}

.logo {
  height: 90%;
  min-width: 100px;
  margin: 0 0.5rem;
  z-index: 20;
  color: $fontColorFirst;
  *{
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.logo-active {
  color: $fontColorSecond;
}

.link-list {
  @include flex-mother();
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  padding-top: $header640;
  background: $backgroundGradient;
  transition: 0.2s ease-out;
  z-index: 10;
  ul {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid $fontColorSecond;
    list-style-type: none;
    opacity: 0;
    transition: 0.2s;
    overflow: scroll;
    li {
      width: 75%;
      margin: auto;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);

      a {
        display: block;
        height: 40px;
        line-height: 40px;
        width: 180px;
        margin: 0.5rem auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: normal;
        font-size: 1.4rem;
        text-decoration: none;
        text-align: center;
        color: $fontColorSecond;
        z-index: 777;
      }
      a.active {
        font-weight: bold;
      }
    }
  }
}

.link-list-active {
  left: 0;
  ul {
    opacity: 1;
    transition: 1s 0.3s;
  }
}

.curtine {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $backgroundGradient;
  z-index: 30;
  *{border-radius: 10px;}
  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: $breakPoint1) {
  .bars {
    display: none;
  }

  .link-list {
    position: static;
    height: $header640;
    padding-top: 0;
    background: none;
    ul {
      @include flex-mother(row, flex-end, center);
      opacity: 1;
      width: 100%;
      padding-right: 20px;
      overflow: hidden;
      li {
        @include flex-mother(row, center, center);
        width: auto;
        margin: 0 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        a {
          display: inline-block;
          height: 30px;
          line-height: 30px;
          width: auto;
          font-size: 1rem;
          font-family: Comfortaa, sans-serif;
          text-decoration: none;
          text-align: center;
          color: #222;
          z-index: 777;
        }
        a.active {
          font-weight: bold;
        }
      }
    }
  }
  .link-list-active {
    left: 0;
    ul {
      opacity: 1;
      transition: 1s 0.3s;
    }
  }
  .curtine {
    width: 100vw;
    height: calc(100vh - #{$header640});
    margin-top: $header640;
    background: $mainColor;
    > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
