@import "./Variables";
@import "./Mixins";
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

@keyframes wordWalking {
  0%{left: -80px; opacity:0;}
  2%{left: 80px; opacity:1;}
  23%{left: 80px; opacity:1;}
  25%{left: 240px; opacity:0;}
  100%{left: 240px; opacity:0;}
}

@keyframes buttonBorder {
  20%{
    transform: translate(-50%,-50%) scale(1.5);
    opacity: 0;
  }
  100%{
    transform: translate(-50%,-50%) scale(1.5);
    opacity: 0;
  }
}

.main {
  min-height: calc(200vh - #{$header640} - #{$footer640});
  margin: auto;
}

//First section-

.firstSection{
  position: relative;
  height: calc(100vh - #{$header640});
  width: 100vw;
  background-image: url(../img/main-page-bcgc.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 0 0px 6px 1px rgba(0,0,0,0.3);
  button{
    position: absolute;
    top: 80%;
    left:50%;
    transform: translate(-50%,0);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 2px solid $secondColor;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: transparent;
    color: $secondColor;
    transition: .2s;
    cursor: pointer;
    &::after{
      content:"";
      display: block;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height:100%;
      border: 2px solid $secondColor;
      border-radius: 50%;
      animation: buttonBorder 6s infinite;
    }
    &:hover{
      border-color:  rgba(65, 105, 225, .75);
      transform: translate(-50%,0) scale(.95);
    }
  }
  div{
    @include flex-mother(column,center,center);
    position: absolute;
    top:50%;
    left:0;
    transform: translate(0,-50%);
    height: 130px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    background-color: rgba(255,255,255,0.8);
    h1{
      width: 100%;
      height: 80px;
      line-height: 80px;
      text-align: center;
      font-size: 2.3rem;
      font-weight: bold;
      font-family: 'Kanit','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: $secondColor;
    }
    h2{
      position: relative;
      width: 160px;
      height: 25px;
      font-size: 1.2rem;
      overflow: hidden;
      span{
        position: absolute;
        top: 0;
        left: -160px;
        transform: translate(-50%,0);
        letter-spacing: 1px;
        font-weight: normal;
        color: #555;
        animation: wordWalking 24s infinite;
        +span{
          animation: wordWalking 24s 6s infinite;
          +span{
            animation: wordWalking 24s 12s infinite;
            +span{
              animation: wordWalking 24s 18s infinite;
            }
          }
        }
      }
    }
  }
}

.scrollUtil{
  display: block;
  position: absolute;
  bottom: $header640;
  height: 0;
  max-height: 0;
}

//Second Section

.secondSection{
  max-width: $breakPoint2;
  margin: auto;
  padding: 0 20px 0 20px;
  h1{
    @include flex-mother(row, center, center);
    @include decoration-element($left: 80%);
    &::after, &::before{
      content: none;
    }
    position: relative;
    min-height: 100px;
    padding: 20px 55px;
    text-align: center;
    font-family: 'Kanit','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    word-wrap: break-word;
    color: $secondColor;
  }
}

.article{
  @include flex-mother($flex-direction: column, $justify-content: center);
}

.image{
  flex-basis: 30%;
  padding: 0 0 10px 0;
  *{
    border-radius: 5px;
  }
}

.paragraph{
  flex-basis: 40%;
  p{
    
    padding: 10px 0 0 0;
    text-indent: 40px;
    font-size: 1.15rem;
    text-align: justify;
    strong {
      color: $secondColor;
    }
    a{
      color: $secondColor;
      text-decoration: none;
      transition: .2s;
      &:hover{
        color: rgba(236, 236, 88, 0.7);
      }
    }
  }
}

//Third Section

.thirdSection{
  max-width: $breakPoint2;
  margin: auto;
  padding: 0px 20px;
  h1{
    @include flex-mother(row, center, center);
    @include decoration-element($left: 80%);
    &::after, &::before{
      content: none;
    }
    position: relative;
    min-height: 100px;
    padding: 20px 55px;
    text-align: center;
    font-family: 'Kanit','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    word-wrap: break-word;
    color: $secondColor;
  }
}

.offerList{
  padding: 0 20px;
  color: $secondColor;
  li{
    padding: 2px 0;
    &:first-child{
      padding-top: 0;
    }
    &:last-child{
      padding-bottom: 10px;
    }
    a{
      font-size: 1.1rem;
      color: $secondColor;
    }
  }
}

//Fourth Section

.fourthSection{
  max-width: $breakPoint2;
  margin: auto;
  padding: 0px 20px 0px;
  h1{
    @include flex-mother(row, center, center);
    @include decoration-element($left: 80%);
    &::after, &::before{
      content: none;
    }
    position: relative;
    min-height: 100px;
    padding: 20px 55px;
    text-align: center;
    font-family: 'Kanit','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    word-wrap: break-word;
    color: $secondColor;
  }
  article{
    div{
      margin: 20px 0;
      a{
        @include flex-mother($flex-direction: column, $justify-content:center);
        transition: .2s;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: #555;
        font-size: .6rem;
        font-weight: bold;
        img{
          max-width: 100%;
          border-radius: 5px;
        }
      }
      a:hover, img:hover{
        opacity: .9;
      }
    }
  }
}

//Fifth section

.fifthSection{
  max-width: $breakPoint2;
  margin: auto;
  padding: 0px 20px 40px;
  h1{
    @include flex-mother(row, center, center);
    @include decoration-element($left: 80%);
    &::after, &::before{
      content: none;
    }
    position: relative;
    min-height: 100px;
    padding: 0px 55px 20px 55px;
    text-align: center;
    font-family: 'Kanit','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    word-wrap: break-word;
    color: $secondColor;
  }
  p{
    text-indent: 40px;
    font-size: 1.15rem;
    text-align: justify;
    a {
      color: $secondColor;
      font-weight: bold;
      text-decoration: none;
      transition: .2s;
      &:hover{
        color: rgba(236, 236, 88, 0.7);
      }
    }
  }
}

@media (min-width: $breakPoint1) {

  //second section
  .secondSection{
    max-width: $breakPoint2;
    margin: auto;
    padding: 0 20px 0 20px;
  }
  
  .article{
    @include flex-mother($flex-direction: row,  $flex-wrap: wrap);
    padding: 0 10px;
  }

  .image{
    flex-basis: 40%;
    padding-right: 10px;
    *{
      border-radius: 5px;
    }
  }
  
  .paragraph{
    flex-grow: 1;
    p{
      padding: 0;
      text-indent: 40px;
      font-size: 1.15rem;
      text-align: justify;
      strong {
        color: $secondColor;
      }
      a{
        color: $secondColor;
        text-decoration: none;
        transition: .2s;
        &:hover{
          color: rgba(236, 236, 88, 0.7);
        }
      }
    }
  }

  //Fourth section

  .fourthSection{
    h1{
    }
    article{
      @include flex-mother($flex-direction: row, $flex-wrap: wrap, $justify-content: space-around);
      div{
        flex-basis: 45%;
        margin: 20px 0px;
        &:first-child{
          margin: 20px 100px;
        }
        a{
          img{
          }
        }
        a:hover, img:hover{
        }
      }
    }
  }
}

@media (min-width: $breakPoint11) {
  .image{
    flex-basis: 30%;
    padding-right: 20px;
  }

  //thirdSection

  .thirdSection{
    max-width: $breakPoint2;
    margin: auto;
    padding: 0px 20px;
    h1{
      @include flex-mother(row, center, center);
      @include decoration-element($left: 80%);
      &::after, &::before{
        content: none;
      }
      position: relative;
      min-height: 100px;
      padding: 20px 55px;
      text-align: center;
      font-family: 'Kanit','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 700;
      font-size: 2rem;
      word-wrap: break-word;
      color: $secondColor;
    }
  }
  .offerList{
    padding: 0 20px;
    color: $secondColor;
    li{
      padding: 2px 0;
      &:first-child{
        padding-top: 0;
      }
      &:last-child{
        padding-bottom: 10px;
      }
      a{
        font-size: 1.1rem;
        color: $secondColor;
      }
    }
  }
  .offerContainer{
    @include flex-mother(row, space-between, flex-start);
  }

  //Fourth section

  .fourthSection{
    h1{
    }
    article{
      @include flex-mother($flex-direction: row, $flex-wrap: wrap, $justify-content: space-around);
      div{
        flex-basis: 31%;
        margin: 20px 0px;
        &:first-child{
          flex-basis: 60%;
          margin: 20px 100px;
        }
        a{
          img{
          }
        }
        a:hover, img:hover{
        }
      }
    }
  }
}
