@import "./Variables";
@import "./Mixins";

.main {
  max-width: 1024px;
  margin: 0 auto 15px auto;
}

.title {
  @include flex-mother(row, center, center);
  @include decoration-element($left: 80%);
  position: relative;
  min-height: 100px;
  padding: 10px 55px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  word-wrap: break-word;
  color: $secondColor;
}

.section {
  padding-bottom: 40px;
  > div {
    &:nth-of-type(odd) {
      @include decoration-title(
        -50%,
        0%,
        rgba(255, 255, 0, 0.55),
        40%,
        -3%,
        rgba(65, 105, 225, 0.55)
      );
    }
    &:nth-of-type(even) {
      @include decoration-title();
    }
  }
  article {
    @include flex-mother(column);
    line-height: 1.5rem;
    margin: 5px 30px;
    padding: 17px 0 0 0;
    border-top: 1px solid rgba(240, 240, 240, 1);
    text-align: justify;
    text-indent: 40px;
    font-family: Georgia, "Times New Roman", Times, serif;
    div {
      height: 240px;
      margin-top: 15px;
      border-radius: 5px;
      span{

      }
      
    }
    span{
      strong{
        color: $secondColor;
      }
      a{
        color: $secondColor;
        font-weight: bold;
        transition: .2s;
        &:hover{
          color: rgba(236, 236, 88, 0.7);
        }
      }
      ul{
        padding-top: 10px;
        padding-left: 20px;
        text-align: start;
        text-indent: 5px;
        li{
          padding: 4px 0;
          text-align: start;
          color: $secondColor;
        }
      }
    }
  }
}

@media (min-width: $breakPoint1) {
  .main {
    > div {
      @include flex-mother(row);
      border-top: 1px solid rgba(240, 240, 240, 1);
    }
  }
}

@media (min-width: 850px) {
  .section {
    article {
      @include flex-mother();
      padding-top: 0;
      border-top: none;
      span {
        flex-grow: 1;
      }
      div {
        flex-basis: 50%;
        min-width: 50%;
        height: auto;
        max-height: 260px;
        margin: 0 20px;
      }
      &:nth-child(2){
        @include flex-mother(row-reverse);
      }
    }
  }
}
