@import "./Variables";
@import "./Mixins";

.main {
  max-width: 1024px;
  margin: auto;
}

.title {
  @include flex-mother(row,center,center);
  @include decoration-element($left: 80%);
  position: relative;
  min-height: 100px;
  padding: 10px 55px;
  // line-height: 100px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  word-wrap: break-word;
  color: $secondColor;
}

.menu{
  ul{
    @include flex-mother(column, center);
    list-style-type: none;
    border-top: 4px solid rgba(240, 240, 240, 1);
    background-color: rgba(252, 252, 252, 1);
    li{
      padding: 10px 8%;
      border-bottom: 1px solid rgba(240, 240, 240, 1);
      a{
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        text-decoration: none;
        color: #333;
        transition: .2s;
        cursor: pointer;
        &:hover{
          color: $secondColor;
        }
      }
    }
  }
}

.active-list-item{
  font-weight: bold;
}

.section{
  >div{
    @include decoration-title();
    &:nth-child(odd){
      @include decoration-title(-50%,88%,rgba(255, 255, 0, 0.55),40%,-3%,rgba(65, 105, 225, 0.55));
    }
    &:nth-child(1){
      @include decoration-title();
    }
  }
  p{
    line-height: 1.5rem;
    margin: 5px 30px;
    padding: 17px 0 0 0;
    border-top: 1px solid rgba(240, 240, 240, 1);
    text-align: justify;
    text-indent: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    div{
      height: 240px;
      margin: 15px 0;
      border-radius: 5px;
    }
  }
}

@media (min-width: 700px){
  .main {
    >div{
      @include flex-mother(row);
      border-top: 1px solid rgba(240, 240, 240, 1);
    }
  }
  .menu{
    min-width: 260px;
    max-width: 260px;
    ul{
      border-top: none;
    }
  }
}

@media (min-width: 850px){
  .section{
    p{
      @include flex-mother();
      padding-top: 5px;
      border-top: none;
      span{
        flex-basis: 50%;
      }
      div{
        width: 50%;
        height: auto;
        max-height: 260px;
        margin: 0 20px;
      }
    }
  }
}
