@import "./Variables";
@import "./Mixins";

.main {
  max-width: 1024px;
  margin: auto;
}

.title {
  @include flex-mother(row, center, center);
  @include decoration-element($left: 80%);
  position: relative;
  min-height: 100px;
  padding: 10px 55px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  word-wrap: break-word;
  color: $secondColor;
}

.article {
  padding: 0px 20px 40px 20px;
  line-height: 1.4rem;
  > span {
    @include decoration-title($right1: 0%, $left2: -1%, $top2: -20%);
    width: 100%;
    height: auto;
    min-height: 90px;
    padding: 25px 0;
  }
  > div {
    margin: 20px 0 0px 0;
    border-radius: 3px;
    +span{
      display: inline-block;
      min-height: auto;
      margin-bottom: 10px;
      padding: 0;
      font-size: .7rem;
      font-weight: bold;
      color: #555;
    }
  }
  >p {
    &:first-of-type{
      padding-top: 15px;
      border-top: 1px solid rgba(240, 240, 240, 1);
    }
    h3 {
      margin-bottom: 10px;
      font-size: 1.4rem;
      color: #444;
    }
    span {
      font-family: Arial, Helvetica, sans-serif;
      ul {
        padding-left: 30px;
      }
    }
  }
}

@media (min-width: 700px) {
  .main {
    > div {
      @include flex-mother(row);
      border-top: 1px solid rgba(240, 240, 240, 1);
    }
  }
  .article {
    padding-bottom: 100px;
    > div {
      width: 100%;
      margin: 25px 0 0px 0;
    }
    p {
      flex-basis: 50%;
      padding-top: 0;
      border-top: none;
      h3 {
        margin-top: 10px;
        font-size: 1.4rem;
        color: #444;
      }
      span {
        font-family: Arial, Helvetica, sans-serif;
        ul {
          padding-left: 30px;
        }
      }
    }
  }
}
