@import "./Variables";
@import "./Mixins";

.main {
  max-width: 1024px;
  margin: auto;
}

.title {
  @include flex-mother(row, center, center);
  @include decoration-element($left: 80%);
  position: relative;
  min-height: 100px;
  padding: 10px 55px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  word-wrap: break-word;
  color: $secondColor;
}

.article {
  padding: 0px 20px 50px 20px;
  line-height: 1.4rem;
}

.secondTitle{
  @include decoration-title($right1: 0%, $left2: -1%, $top2: -20%);
  width: 100%;
  height: auto;
  min-height: 90px;
  margin: 0;
  padding: 25px 0;
  border-bottom: 1px solid rgba(240, 240, 240, 1);
}

.description{
  padding-top: 15px;
  line-height: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  text-indent: 40px;
  h3 {
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #444;
  }
  ul {
    padding-left: 30px;
  }
}

.image{
  width: 100%;
  margin: 20px 0 0px 0;
  div{
    border-radius: 3px;
  }
  span{
    display: inline-block;
    min-height: auto;
    margin-bottom: 10px;
    padding: 0;
    font-size: .7rem;
    font-weight: bold;
    color: #555;
  }
}


@media (min-width: 700px) {
  .main {
    > div {
      @include flex-mother(row);
      border-top: 1px solid rgba(240, 240, 240, 1);
    }
  }

  .secondTitle{
    border-bottom: none;
  }

  .description{
    flex-basis: 50%;
    padding-top: 0;
    h3 {
      margin-top: 10px;
    }
  }

  .image{
    width: 100%;
    margin: 25px 0 0px 0;
  }
}
